PORT=4001
NODE_ENV=development
APP_NAME=identity-service
API_PREFIX=/api/v1

JWT_SECRET=change_this_super_secret_key
JWT_EXPIRES_IN=1d

# Option A: local/docker postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=identity_db
DB_USER=postgres
DB_PASSWORD=postgres
DB_SSL=false

# Option B: external/cloud postgres connection string
DATABASE_URL=

SUPERADMIN_FIRST_NAME=Super
SUPERADMIN_LAST_NAME=Admin
SUPERADMIN_EMAIL=superadmin@lms.com
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=Super@12345