MONGODB_URL=mongodb://mongo:27017
DB_NAME=group_activities_db
SERVICE_NAME=group-activities-service
SERVICE_VERSION=v1
SECRET_KEY=your-super-secret-key-here
ENVIRONMENT=development
API_GATEWAY_URL=http://api-gateway:8000
